<mat-drawer-container autosize class="example-container">
    <mat-drawer mode="side" class="example-sidenav">
        <p>Auto-resizing sidenav</p>
        <ng-container #viewport></ng-container>
        <p>Auto-resizing sidenav</p>
        <p>Auto-resizing sidenav</p>
    </mat-drawer>

    <div #divElement class="example-sidenav-content test">
        {{ divElement.classList.toString() }}
        <button #buttonComponent type="button" mat-button (click)="toggleSidenavOpened()">
            Toggle sidenav
        </button>
    </div>
</mat-drawer-container>
