<app-header [applicationConfig]="applicationConfig"></app-header>
<!-- <app-sidenav #sidenavComponent [navigationTemplate]="navigationTemplate"></app-sidenav> -->
<app-sidenav #sidenavComponent>
    <ng-template #navigationTemplate>
        <h2>{{ applicationConfig.title }}</h2>
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
    </ng-template>
    <!-- <div #first>
        <div #last></div>
    </div> -->
</app-sidenav>
<!-- <app-products-list></app-products-list> -->

<!-- Homework stand -->

<!-- Switch template -->

<app-popup-host [template]="switchTemplate ? first : second"></app-popup-host>
<ng-template #first>
    <div class="modal">
        <div class="modal__content">
            <div class="modal__row">
                <p class="modal__text modal__text_title">
                    <span class="modal__counter">#1</span>
                    Angular's
                    <code>&lsaquo;ng-template&rsaquo;</code>
                    element defines a template that is not rendered by default.
                </p>
            </div>
            <div class="modal__row modal__row_sub">
                <h3 class="modal__text modal__text_sub">Why ng-template rules:</h3>
            </div>
            <div class="modal__row">
                <ul class="modal__feature-list">
                    <li class="modal__feature">
                        <span class="modal__text modal__text_feature">
                            You have full control over how and when the content is displayed.
                        </span>
                    </li>
                    <li class="modal__feature">
                        <span class="modal__text modal__text_feature">
                            You define template content that is only being rendered by Angular when
                            you, instruct it to do so.
                        </span>
                    </li>
                    <li class="modal__feature">
                        <span class="modal__text modal__text_feature">
                            You can display copies of
                            <code>&lsaquo;ng-template&rsaquo;</code>
                            content by means of structural directives
                        </span>
                    </li>
                    <li class="modal__feature">
                        <span class="modal__text modal__text_feature">
                            Inside the
                            <code>&lsaquo;ng-template&rsaquo;</code>
                            tags you can reference variables present in the surrounding outer
                            template
                        </span>
                    </li>
                </ul>
            </div>
            <div class="modal__row">
                <a
                    rel="noreferrer"
                    href="https://learn.javascript.ru/courses"
                    target="_blank"
                    class="modal__action modal__link"
                >
                    <span class="modal__text modal__text_action">
                        Read more
                        <b>#1</b>
                    </span>
                </a>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #second>
    <div class="modal">
        <div class="modal__content">
            <div class="modal__row">
                <p class="modal__text modal__text_title">
                    <span class="modal__counter">#2</span>
                    Angular's
                    <code>&lsaquo;ng-template&rsaquo;</code>
                    element defines a template that is not rendered by default.
                </p>
            </div>
            <div class="modal__row modal__row_sub">
                <h3 class="modal__text modal__text_sub">Why ng-template rules:</h3>
            </div>
            <div class="modal__row">
                <ul class="modal__feature-list">
                    <li class="modal__feature">
                        <span class="modal__text modal__text_feature">
                            You have full control over how and when the content is displayed.
                        </span>
                    </li>
                    <li class="modal__feature">
                        <span class="modal__text modal__text_feature">
                            You define template content that is only being rendered by Angular when
                            you, instruct it to do so.
                        </span>
                    </li>
                    <li class="modal__feature">
                        <span class="modal__text modal__text_feature">
                            You can display copies of
                            <code>&lsaquo;ng-template&rsaquo;</code>
                            content by means of structural directives
                        </span>
                    </li>
                    <li class="modal__feature">
                        <span class="modal__text modal__text_feature">
                            Inside the
                            <code>&lsaquo;ng-template&rsaquo;</code>
                            tags you can reference variables present in the surrounding outer
                            template
                        </span>
                    </li>
                </ul>
            </div>
            <div class="modal__row">
                <a
                    rel="noreferrer"
                    href="https://learn.javascript.ru/courses"
                    target="_blank"
                    class="modal__action modal__link"
                >
                    <span class="modal__text modal__text_action">
                        Read more
                        <b>#2</b>
                    </span>
                </a>
            </div>
        </div>
    </div>
</ng-template>
<!-- or -->

<!-- Close template -->

<!--<app-popup-host [template]="!closeTemplate ? first : null"></app-popup-host>-->

<!-- <ng-template #first>
    <h2>First</h2>
    <p>Is first template</p>
</ng-template>
<ng-template #second>
    <h2>Second</h2>
    <p>Is second template</p>
</ng-template> -->

<!-- <app-host-popup [template]></app-host-popup> -->
