<form #form="ngForm" class="filter" (ngSubmit)="onFormSubmit(form.value)">
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput ngModel name="name" />
    </mat-form-field>

    <div *ngIf="brands; else loaderTemplateRef" ngModelGroup="brands" class="checkbox-container">
        <mat-checkbox
            *ngFor="let brand of brands; let index = index"
            [ngModel]="false"
            [name]="brand"
        >
            {{ brand }}
        </mat-checkbox>
    </div>
    <div ngModelGroup="priceRange" class="price-range">
        <div>
            Min
            <app-counter-input name="min" [step]="100" [ngModel]="0"></app-counter-input>
        </div>
        <div>
            Max
            <app-counter-input name="max" [step]="100" [ngModel]="999999"></app-counter-input>
        </div>
    </div>

    <!-- {{form.value | json}} -->
    <input type="submit" />
</form>
<!-- <form class="filter" [formGroup]="filterForm">
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="getControl(['name'])"/>
        <input matInput formControlName="name"/>
    </mat-form-field>

    <div *ngIf="brands; else loaderTemplateRef" class="checkbox-container" formArrayName="brands">
        <mat-checkbox
            *ngFor="let brand of brands; let index = index"
            [formControl]="getControl(['brands', index])"
        >
        <mat-checkbox
            *ngFor="let brand of brands; let index = index"
            [formControlName]="index"
        >
            {{ brand }}
        </mat-checkbox>
    </div>
    <div class="price-range" formGroupName="priceRange">
        <div>
            Min
            <app-counter-input [step]="100" [formControl]="getControl(['priceRange', 'min'])"></app-counter-input>
            <app-counter-input [step]="100" formControlName="min"></app-counter-input>
        </div>
        <div>
            Max
            <app-counter-input [step]="100" [formControl]="getControl(['priceRange', 'max'])"></app-counter-input>
            <app-counter-input [step]="100" formControlName="max"></app-counter-input>
        </div>
    </div>
</form> -->

<ng-template #loaderTemplateRef>
    <mat-spinner diameter="60" class="loader"></mat-spinner>
</ng-template>
